page-tabs {

    .tabs{
        background: #f53d3d;
    }

    // .temp{
    //     height: 150px;
    //     background-color: darkorchid;
    // }

    ion-tab {
        background: #f53d3d;
        color: darkorchid;

    }
}

