page-search{

    .results{
        background-color: transparent;
    }

    .card-background-page{
        background-color: transparent;
    }

    #buttons{
        background: url(../../assets/imgs/background.jpg);
        display: flex;
        justify-content: space-between;
    }

    ion-header{
        background-color: transparent;

    }

    ion-row, ion-col{
        background-color: transparent;
    }

    ion-grid{
        background: url("../../assets/imgs/background.jpg");
        background-size: 130%;
        background-color: transparent;
    }

    ion-card{
        position: relative;
        text-align: center;
    }

    ion-content{
         height: 100%;
    }

    .title{
        position: absolute;
        top: 36%;
        font-size: 1.4em;
        width: 100%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0), 0 0 2px rgb(0, 0, 0);
     }   
    
    .getstart {
        background-image: url('../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center top;
    }
}