page-playlist {
    .content {
        background: url("../assets/imgs/background.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }

    .list{
       background-color: transparent;
    }
}
