page-direct {

    .Button {
        background: "primary";
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .TwoButtons {
        text-align: center;
        margin: auto;
        width: 60%;
        padding-top: 99%; 
    }
    .getstart {
        background-image: url('../assets/imgs/direct.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center top;
    }

    .divider{
        display:inline-block;
    }
}
 

