page-direct {

    .Button {
        background: "primary";
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .TwoButtons {
        text-align: center;
        margin: auto;
        width: 60%;
        padding-top: 99%;
        //  display: flex;
        // justify-conten: center;
        // align-items: center;
        
    }
    // #logo{
    //     background-image: url('../assets/imgs/Logo-Studio-Qualita.png');
    //     background-position: center top;        
    // }

    .getstart {
        //background-image: url('../assets/imgs/Logo-Studio-Qualita.png');
        background-image: url('../assets/imgs/direct.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        //background-size: auto;
        background-position: center top;
        //background-attachment: fixed; 
        
    }

    .divider{
        display:inline-block;
    }
}
 

