page-vod {

    .Button {
        background: "primary";
        display: flex;
       width: 100%;
       justify-content: center;
       align-items: center;
   }

   .TwoButtons {
    text-align: center;
    margin: auto;
    width: 60%;
    padding-top: 99%;
    //  display: flex;
    // justify-conten: center;
    // align-items: center;
    }

    .getstart {
        //background-image: url('../assets/imgs/Logo-Studio-Qualita.png');
        background-image: url('../assets/imgs/replay.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        //background-size: auto;
        background-position: center top;
        //background-attachment: fixed; 
    }

    .divider{
        display:inline-block;
    }
}
